* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav {
    background-color:  darkblue;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
}

main {
    padding: 50px;
}

main section {
    margin-bottom: 30px;
}

aside {
    width: 250px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f4f4f4;
    color: #333;
}
aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: darkblue;
}

p {
    padding: 0;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    padding: 30px;
    width: 100%;
    margin-top: 15px;
    border-top: 20px;
    text-align: center;
    border-top: solid 1px white;
    background-color: darkblue;
    color: white;
}